<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h3 class="display-4 mb-0">
            <span>Resources</span>
          </h3>

          <p class="lead mb-3">
            <span>Steps and processes for the development of Revenue management software.</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <div class="row">
        <ng-container *ngFor="let step of steps">
          <div class="card col-3" *ngIf="step.box">
            <div class="card-body">
              <h5 class="card-title">{{step.title}}</h5>
              <p class="card-text">{{step.desc}}</p>
              <a [routerLink]="[step.path]" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
