<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h1 class="display-4 mb-0">
            <span>{{step.title}}</span>
          </h1>

          <p class="lead mb-3">
            <span>{{step.desc}}</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <p>A medical practice without detailed reports is a practice that can have hidden problems that may be growing
        worse.
        You need to generate a range of reports for your meetings. Use the RCM software to define customized reports,
        including financial data, management information and key performance indicators to see if your team is meeting
        benchmarks.</p>

      <p>What’s more, when using a modern, state-of-the-art RCM system, you can generate reports at will, not having to
        worry
        that the processing might slow down for other users. Your practice will work more productively as a result.</p>
    </div>
  </div>
</div>
