<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h1 class="display-4 mb-0">
            <span>{{step.title}}</span>
          </h1>

          <p class="lead mb-3">
            <span>{{step.desc}}</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <p>When a patient is sent a bill with the remaining balance for the medical services provided, a payment date is
        set
        and
        listed on the bill itself. Once the patient’s payment is received, and the healthcare provider has been
        reimbursed
        for
        all services provided, the information is filed in the patient’s record and the transaction is effectively
        closed.</p>

      <p>If the patient fails to pay a bill on time, the healthcare provider is responsible for following up with the
        patient
        and handling any additional billing issues. If the balance remains unpaid for a certain amount of time, a
        collections
        process is initiated in order to receive reimbursement for the overdue bill. The amount of time allotted before
        the
        collections process is instated, and how to go about the collecting reimbursement, depends on the healthcare
        provider’s financial policy.</p>

      <p>
        After the patient's account is updated, notify the patient of the remaining balance.
      </p>

      <p>The final phase of the billing process is ensuring those bills get, well, paid. Billers are in charge of
        mailing
        out
        timely, accurate medical bills, and then following up with patients whose bills are delinquent. Once a bill is
        paid,
        that information is stored with the patient’s file.</p>

      <p>If the patient is delinquent in their payment, or if they do not pay the full amount, it is the responsibility
        of
        the
        biller to ensure that the provider is properly reimbursed for their services. This may involve contacting the
        patient
        directly, sending follow-up bills, or, in worst-case scenarios, enlisting a collection agency.</p>

      <p>Each provider has it’s own set of guidelines and timelines when it comes to bill payment, notifications, and
        collections, so you’ll have to refer to the provider’s billing standards before engaging in these
        activities.</p>

      <p>If the procedures and codes listed in the insurance provider’s transaction report match those sent by the
        healthcare
        provider, all charges are compliant with the financial agreement between the both parties, and the healthcare
        provider
        has received appropriate reimbursements for their medical services, these payments are then applied to the
        patient’s
        account.</p>

      <p>In cases where the insurance provider did not cover some (or any) service rendered, leaving portions of the
        bill
        unpaid, these leftover charges are passed on to the patient. The medical biller must confirm that the amount
        reimbursed by the insurance provider, in addition to the total billed to the patient, equals the expected cost
        for
        all
        of the medical services rendered.</p>

      <p>When billing the patient directly, it is important that the bill contains any and all information pertaining to
        entire transaction. Again, the medical biller must confirm that the patient bill contains a list of services
        provided
        by the medical practice, as well as the dates these services were rendered, the payments already made by the
        insurance
        provider deducted from the overall bill, and the leftover balance the patient will be responsible for paying.
        Making
        sure this information is accurate and clear is done in order to ensure the patient understands his or her
        financial
        responsibility, and will help avoid any potential complication in receiving reimbursement from the patient.</p>

      <p>When payment is made by the insurance company, the amount received is reviewed. Once it is verified that a
        right
        amount is received, patient’s account is updated. The Patient is also notified about the remaining balance to be
        paid.</p>

      <p>After the claim is successfully submitted and reviewed, the payment is posted and is able to be paid by your
        patient.
        RCM software can help in this respect not only in the convenience it offers for generating billing statements.
        You can
        even use the system to send messages to patients electronically with a “click here” to pay option to encourage
        them to
        reimburse you more quickly. Billing over networks like this is done via Electronic Data Interchange (EDI).</p>

      <h3>7) Notify patient of remaining balance </h3>

      <p>Once the biller has received the report from the payer, it’s time to make the statement for the patient. The
        statement is the bill for the procedure or procedures the patient received from the provider. Once the payer has
        agreed to pay the provider for a portion of the services on the claim, the remaining amount is passed to the
        patient.</p>

      <p>In certain cases, a biller may include an Explanation of Benefits (EOB) with the statement. An EOB describes
        what
        benefits, and therefore what kind of coverage, a patient receives under their plan. EOBs can be useful in
        explaining
        to patients why certain procedures were covered while others were not.</p>
    </div>
  </div>
</div>
