<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h1 class="display-4 mb-0">
            <span>{{step.title}}</span>
          </h1>

          <p class="lead mb-3">
            <span>{{step.desc}}</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <p>This first transaction for a claim for services is known technically as X12-837 or ANSI-837. This contains a
        large
        amount of data regarding the provider interaction as well as reference information about the practice and the
        patient.
        Following that submission, the payer will respond with an X12-997, simply acknowledging that the claim's
        submission
        was received and that it was accepted for further processing. When the claim(s) are actually adjudicated by the
        payer,
        the payer will ultimately respond with a X12-835 transaction, which shows the line-items of the claim that will
        be
        paid or denied; if paid, the amount; and if denied, the reason.</p>

      <p>Once the claim has been properly completed, it must be submitted to the insurance payer for payment. Medical
        billers
        need to have access to the information they need about the insurance payer since there are so many variables for
        each
        insurance payer in determining how and when to submit a claim.</p>

      <p>Since the Health Insurance Portability and Accountability Act of 1996 (HIPAA), all health entities covered by
        HIPAA
        have been required to submit their claims electronically, except in certain circumstances. Most providers,
        clearinghouses, and payers are covered by HIPAA.</p>

      <p>Note that HIPAA does not require physicians to conduct all transactions electronically. Only those standard
        transactions listed under HIPAA guidelines must be completed electronically. Claims are one such standard
        transaction.</p>

      <p>Billers may still use manual claims, but this practice has significant drawbacks. Manual claims have a high
        rate
        of
        errors, low levels of efficiency, and take a long time to get from providers to payers. Billing electronically
        saves
        time, effort, and money, and significantly reduces human or administrative error in the billing process.</p>

      <p>In the case of high-volume third-party payers, like Medicare or Medicaid, billers can submit the claim directly
        to
        the payer. If, however, a biller is not submitting a claim directly to these large payers, they will most likely
        go
        through a clearinghouse.</p>

      <p>A clearinghouse is a third-party organization or company that receives and reformats claims from billers and
        then
        transmits them to payers. Some payers require claims to be submitted in very specific forms. Clearinghouses ease
        the
        burden of medical billers by taking the information necessary to create a claim and then placing it in the
        appropriate
        form. Think of it this way: A practice may send out ten claims to ten different insurance payers, each with
        their
        own
        set of guidelines for claim submission. Instead of having to format each claim specifically, a biller can simply
        send
        the relevant information to a clearinghouse, which will then handle the burden of reformatting those ten
        different
        claims.</p>

      <p>Once all diagnoses and medical procedures have been recorded, coded, and checked for compliance, the bill is
        ready
        to
        be sent out to the insurance company, or payer. This is a very important step in the medical billing process.
        This
        insurance claim provides the payer with important information about the diagnosis, procedures, and the charges
        garnered by the patient. An accurate, expedite insurance claim ensures the healthcare provider will be
        reimbursed
        in
        a
        timely fashion, and that the patient will not be left on the hook for lingering medical payments.</p>

      <p>The majority of practices file and submit claims electronically. This is the most efficient and accurate way to
        process claims, and it saves the industry a significant amount of money compared to paper submissions. In fact,
        one
        of
        the reasons for the switchover from ICD-9-CM to ICD-10 is that the newer code is more flexible and optimized for
        electronic usage. Submitting claims electronically reduces the amount of manual data the medical biller must
        perform.
        With minimal analog interaction, electronic submissions reduce the amount of errors made, and subsequently
        increase
        the amount of “clean claims” submitted to health insurers.</p>

      <p>Different healthcare providers and insurance companies use various kinds of software to send and receive
        insurance
        claims. It is important for the medical biller to become familiar with the kind of software used in their
        facility.
        Just because using technology is a faster, easier, and more accurate way to send and receive insurance claims
        does
        not
        mean it is error proof. Even as certain kinds of insurance claim software automatically flag for errors,
        proficiency
        with the software saves time and money for all parties involved.</p>

      <p>Both paper and electronic claims can be submitted in a number of ways. Typically, a medical practice will send
        an
        insurance claim to the insurance provider using a clearinghouse. A clearinghouse is a private, third-party
        company
        that acts as a liaison between healthcare providers and insurers. Used primarily with electronic claims,
        clearinghouses will receive insurance claims from the healthcare provider, format the claim in accordance with
        insurer
        requirements, and submit the claim to the insurer.</p>

      <p>In the case of high volume insurers, such as Medicaid, claims may be submitted directly to the insurance
        provider.
        Again, insurance providers such as private payers, Medicare, or TRICARE all institute various requirements in
        the
        processing of claims. Because a clearinghouse is not always used to format claims correctly, it is important to
        understand the various requirements of each insurance provider and be able to submit accurate, compliant claims
        directly.</p>

      <p>The process of submitting insurance claims, including submitting through clearinghouses, insurance
        requirements,
        and
        the different kinds of software, will be covered more comprehensively in later courses.</p>

      <p>The next step in the medical billing process is to transmit these codes to the proper insurance company(ies).
        In
        most
        cases, this is done electronically using an ANSI 837 file and is transmitted directly to the company. This claim
        is
        then processed.</p>

      <p>Each insurance provider may have different requirements for information provided on claim forms. It is
        beneficial
        to
        check with the insurance provider regarding the specific process required.</p>

      <p>
        The 2 most widely used methods to submit a claim is electronically or by paper.
      </p>

      <p>Electronic claims are more efficient in terms of reimbursement. The office's PMS has a claim preparation
        function
        to
        help you process a claim.</p>

      <p>Documenting the charges for the medical procedure that patient is undergoing. It includes a tabulation of all
        the
        charges and details associated with diagnoses, procedures, and services. Whether an accident is involved or not
        is
        also to be mentioned.</p>

      <p>Once an accurate medical document is created, it is sent to the insurance payer for payment. Most of the
        insurance
        companies follow common guidelines for claim submission but few of them may have different procedures.</p>

      <p>Payment will not be forthcoming until your office properly submits claims for the work you do for your
        patients.
        Practice management or PM software is invaluable in this situation. You use it to submit claims automatically,
        including the option to do this in batches. Since human error is always a factor to contend with in submitting
        claims,
        you’ll want to deploy PM software that includes an option to detect mistakes and then explain them to you so you
        can
        fix the problem. Then you can immediately resubmit the claim.</p>

      <p>Accelerating the flow of revenue in your organization will be easier when you gain tighter control over claims
        and
        have tools in place to weed out common errors.</p>

      <strong>Features</strong>
      <ul>
        <li>
          Generate x12-837 or ANSI 837 file
        </li>
        <li>
          Receive x12-997
        </li>
        <li>
          Receive x12-835
        </li>
      </ul>
    </div>
  </div>
</div>
