<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h1 class="display-4 mb-0">
            <span>{{step.title}}</span>
          </h1>

          <p class="lead mb-3">
            <span>{{step.desc}}</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <strong>Description</strong>

      <p>
        Collect demographoc information from the patient and create a new patient account or update an existing account
        using the information provided by the registration form (Name, address, DOB, reason for visit, SSN, number,
        gender). Add a link or snippet of HIPPA privacy policy in regards to Protected Health Information
      </p>

      <p>
        Gather patients Insurance information (Policy number and provider).
      </p>

      <strong>Features</strong>
      <ul>
        <li>
          Create or Update patient record.
        </li>
        <li>
          Allow for multiple policies to be attached to patient
        </li>
      </ul>
    </div>
  </div>
</div>
