<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h1 class="display-4 mb-0">
            <span>{{step.title}}</span>
          </h1>

          <p class="lead mb-3">
            <span>{{step.desc}}</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <p>After the doctor sees the patient, the diagnosis and procedure codes are assigned. These codes assist the
        insurance
        company in determining coverage and medical necessity of the services. Once the procedure and diagnosis codes
        are
        determined, the medical biller will transmit the claim to the insurance company (payer). This is usually done
        electronically by formatting the claim as an ANSI 837 file and using Electronic Data Interchange to submit the
        claim
        file to the payer directly or via a clearinghouse.</p>

      <p>Once the patient checks out, the medical report from that patient’s visit is sent to the medical coder, who
        abstracts
        and translates the information in the report into accurate, useable medical code. This report, which also
        includes
        demographic information on the patient and information about the patient’s medical history, is called the
        “superbill.”</p>

      <p>The correct coding of claims is vital for informing the insurance payer of what exactly the patient is being
        treated
        for as well as the method of treatment the patient is undergoing. Be sure to use the correct diagnosis codes to
        describe the patient's symptoms or illnesses and the correct procedure codes to describe the patient's method of
        treatment. Use accurate CPT and HCPCS code modifiers to provide additional information about the service or
        procedure
        performed. The insurance payer can only make an accurate assessment if they have the correct codes and
        modifiers.</p>

      <p>This refers to entering the charges for services that the patient received. The charge entry also includes the
        appropriate linking of medical codes to services and procedures rendered during the patient's visit.</p>

      <p>The superbill contains all of the necessary information about medical service provided. This includes the name
        of
        the
        provider, the name of the physician, the name of the patient, the procedures performed, the codes for the
        diagnosis
        and procedure, and other pertinent medical information. This information is vital in the creation of the
        claim.</p>

      <p>The medical biller takes the superbill from the medical coder and puts it either into a paper claim form, or
        into
        the
        proper practice management or billing software. Biller’s will also include the cost of the procedures in the
        claim.
        They won’t send the full cost to the payer, but rather the amount they expect the payer to pay, as laid out in
        the
        payer’s contract with the patient and the provider.</p>

      <p>Once the biller has created the medical claim, he or she is responsible for ensuring that the claim meets the
        standards of compliance, both for coding and format.</p>

      <p>The accuracy of the coding process is generally left up to the coder, but the biller does review the codes to
        ensure
        that the procedures coded are billable. Whether a procedure is billable depends on the patient’s insurance plan
        and
        the regulations laid out by the payer.</p>

      <p>While claims may vary in format, they typically have the same basic information. Each claim contains the
        patient
        information (their demographic info and medical history) and the procedures performed (in CPT or HCPCS codes).
        Each
        of
        these procedures is paired with a diagnosis code (an ICD code) that demonstrates the medical necessity. The
        price
        for
        these procedures is listed as well. Claims also have information about the provider, listed via a National
        Provider
        Index (NPI) number. Some claims will also include a Place of Service code, which details what type of facility
        the
        medical services were performed in.</p>

      <p>Billers must also ensure that the bill meets the standards of billing compliance. Billers typically must follow
        guidelines laid out by the Health Insurance Portability and Accountability Act (HIPAA) and the Office of the
        Inspector
        General (OIG). OIG compliance standards are relatively straightforward, but lengthy, and for reasons of space
        and
        efficiency, we won’t cover them in any great depth here.</p>

      <p>
        To avoid any error or omission, the document is thoroughly checked and examined.
      </p>

      <p>First identify any diagnosis listed on the encounter form. If a diagnosis cannot be assigned, note any symptoms
        as
        reasons for the visit. Also, locate any procedures performed during the patient's visit; these are also found on
        the
        encounter form.</p>

      <p>Entering the right information regarding the patient diseases, symptoms, medical procedure through diagnosis
        codes.</p>

      <p>
        Refer to the encounter form for required information.
      </p>

      <p>Open the Practice Management Software and click on the procedure posting button. Open the patient's account
        information and click the add button.</p>

      <p>Enter the reference number, service provider, place of service, date of service, procedures, diagnoses,
        modifiers,
        insurance to be billed, and whether the encounter was related to an accident.</p>

      <p>
        This has to be done for each CPT code. The PMS will automatically generate the charge for each CPT code used.
      </p>

      <p>When entering the diagnosis codes, be sure to enter the primary code in the first spot (usually box A) followed
        by
        the secondary code (box B) and so on.</p>

      <p>
        When you are finished with the entries, check them for accuracy. Click the post button when entry is completed.
      </p>

      <p>
        To code for the diagnosis you need the ICD-9-CM code book.
      </p>

      <p>First look up the name of the diagnosis in the alpha-index followed by the tabular index. Verify any diagnoses
        codes
        found on the encounter form. Each diagnosis must match the code description.</p>

      <p>Always locate the term you are looking for in the alpha-index before trying to find it in the tabular list;
        this
        will
        keep errors to a minimum.</p>

      <p>
        To code for any procedures, drugs, or other services provided to the patient use the CPT code book.
      </p>

      <p>The encounter form is the first place to look. There will be codes for the type of encounter as well as codes
        for
        the
        procedures performed during the patient encounter.</p>

      <p>First look up the procedures in the alpha-index followed by the numerical index. If you are not familiar with a
        procedure, start your search by the anatomical body system.</p>

      <p>READ CAREFULLY. The CPT code descriptions can be very tricky. Just like the ICD-9 codes, CPT codes have to
        match
        exactly. Verify any codes found on the encounter form.</p>

      <p>Before a bill can be officially recorded and sent off to the payer, it must first satisfy certain official
        requirements. These requirements differ between coding and billing procedures, as well as insurance providers
        and
        types of medical services provided. For example, the billing process must be compliant with requirements set by
        the
        Health Insurance Portability and Accountability Act (HIPAA), and the Office of Inspector General (OIG). These
        requirements will be discussed in greater detail in later courses.</p>

      <p>Generally speaking, part of achieving necessary compliance in medical billing is ensuring that fees are charged
        accurately. The medical biller must confirm that each charge is related to a specific procedure code. Different
        medical facilities have different charges and fees for their service, so charges must match the standard set by
        the
        specific medical practice (in this case, a physician’s office). Different practices usually have their usual
        fees
        listed in a standard fee schedule.</p>

      <p>The medical biller must also confirm that every code is, in fact, billable. Whether or not a code is billable
        depends
        on the payer, generally the insurance provider. In the case of insurance providers, each payer has a set of
        rules
        that
        determine what they can and cannot be billed for under their policyholder’s plan. It is important for the
        medical
        biller to be compliant with the payer’s rules. If a bill is sent out to a payer that includes charges outside of
        these
        rules, the bill may be denied and returned to the physician’s office to be corrected. Denied claims are time
        consuming, resource wasting, and complicate the billing process for all parties involved.</p>

      <p>Crosschecking all the codes to ensure each code in the document is correct and no error has occurred while
        entering
        the diagnosis codes.</p>

      <strong>Features</strong>
      <ul>
        <li>
          Determine Codes
        </li>
        <li>
          Generate ANSI 837 file
        </li>
        <li>
          Submit ANSI 837 to insurance companies
        </li>
      </ul>
    </div>
  </div>
</div>
