<div class="d-flex flex-column">
  <div class="row align-items-center bg-primary check-contrast py-4">
    <div class="col-xl-9 col-lg-11 container-alt text-light toggles-ignore mx-auto py-5">
      <div class="row py-2">
        <div class="col-xl-7 col-lg-8 py-2 text-center text-lg-left">
          <h1 class="display-4 mb-0">
            <span>{{step.title}}</span>
          </h1>

          <p class="lead mb-3">
            <span>{{step.desc}}</span>
          </p>

          <p class="small">
            Looking for the software itself? Site will be released
            <a class="toggles-ignore text-light" [routerLink]="['/']">
              <u>Here</u>
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center check-contrast py-5">
    <div class="col-xl-9 col-lg-11 container-alt toggles-ignore mx-auto">
      <p>When a patient receives medical services from their physician, these services are recorded and placed in the
        patient’s medical record. It is important for the physician to record all medical services so the office can
        create
        an
        accurate medical bill to send to insurance providers or patients.</p>

      <p>In order to bill for the visit, medical coders translate all diagnoses and medical procedures performed during
        the
        patient’s visit into a series of medical code sets that act as a universal language within the healthcare
        industry.
        These codes streamline the recording of medical services and ensure that these services are accurately
        represented
        between medical facilities and insurance providers. Medical codes were summarized in the previous course, and
        will
        be
        covered more comprehensively in later courses, but to recap, different medical code sets are used to communicate
        diagnosis and treatment.</p>

      <p>After the medical coder has determined the patient’s diagnosis and treatment(s) administered, and coded these
        using
        the ICD and CPT, the medical bill can be assembled. This transaction for the visit, including all charges and
        payments
        made by the patient, is called the patient ledger. In the ledger, the medical biller calculates the patient’s
        balance
        by adding any previous balances and new charges, subtracting payments made (either by the insurance company or
        the
        patient). This amounts to the patient’s current balance. This information is given to the patient as a receipt.
        The
        patient can then check out.</p>
    </div>
  </div>
</div>
