<div style="height:100%;" fxLayout="column" fxLayoutAlign="center center">
  <mat-icon>lock</mat-icon>

  <mat-card style="padding: 50px;width:300px;margin: 2rem 0">
    <mat-card-content fxLayout="column">

      <mat-form-field>
        <input matInput placeholder="First Name" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="email" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password" type="password">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirm password" type="password">
      </mat-form-field>

      <button color="accent" (click)="register()" mat-raised-button>REGISTER</button>

    </mat-card-content>
  </mat-card>

  <small>Already have an account? <a routerLink="/login">Login here</a></small>
</div>

<!--<div class="container h-100">-->
  <!--<div class="row h-100 justify-content-center align-items-center flex-column">-->

    <!--<img src="assets/images/logo.png" height="100" class="mb-5">-->

    <!--<div class="card">-->
      <!--<div class="card-body d-flex flex-column" style="padding: 3rem">-->
        <!--<form>-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control form-control-lg" placeholder="email">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control form-control-lg" placeholder="password">-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control form-control-lg" placeholder="confirm password">-->
          <!--</div>-->

          <!--<button type="submit" class="btn btn-primary btn-lg w-100" style="background: #7898B1" (click)="register()">Log in</button>-->

          <!--<div class="text-center mt-3" style="color:#A9A9A9">-->
            <!--<span>Already have an account? <a routerLink="/login">Log In</a></span>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
